
.header div {
    margin: 50px;
}

.header1 {
    font-size: 112px;
    font-weight: bold;
    line-height: 80%;
}

.header2 {
    font-size: 50px;
    line-height: 80%;
}


.foo {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.foo1 {
    padding-bottom: 10px;
}

.foo1a {
  
    font-size: 50px;
}

.foo1b {
 
    height: 32px;
}

.foo1b img {
    padding: 0px 5px 0px 20px;
}

.foo2 {
   
    height: 32px;
}

table {
    font-size: 4.2vmin;
}
.large
{
    text-align:right;
}
tr.small {
    display: none;
}

.large img {
    width: 150px;
    padding:20px;
}
